@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/sans-serif/ProximaNova.ttf') format('truetype');
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	background: #f6f6f6;
	font-family: 'ProximaNova';
	font-weight: 400;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited, a:active, a:hover {
	color: #003fba;
}

.col-left {
	margin: 3px 0px 0px 9px;
	float: left;
	width: 168px;
}

.logo img {
	width: 135px;
	height: 155px;
	margin-bottom: 11px;
}

.nav-main-left {
	margin-top: 15px;
}

.nav-main-left h4 {
	margin: 0 0 0 0;
	color: #444444;
	font-weight: 400;
}

.nav-main-left ul {
	padding: 0;
	margin-top: 3px;
}

.under-title {
	background-image: url("../images/rectangle-copy.svg");
	width: 131px;
	height: 1px;
	margin: 1px 0 2px 0;
}

.col-right {
	width: calc(100% - 200px);
	float: right;
}

.top-nav {
	margin-top: 10px;
}
.top-nav ul {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end; /* --> Push content to right side */
}
.top-nav ul li {
	margin-right: 15px;
}

.nav-tab {
	display: flex;
	align-items: flex-end;
}
.nav-tab-left ul {
	display: flex;
}
.nav-tab-left ul li {
	border: #a5d5fb solid 1px;
	border-bottom: 0;
	width: 66px;
	height: 19px;
	padding: 10px 7px 10px 7px;
	font-size: 14px;
	font-weight: 600px;
	color: #003fba;
}

.nav-tab-right{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: row-reverse;
}
.tab-right ul {
	display: flex;
}
.tab-right ul li{
	border: #a5d5fb solid 1px;
	height: 19px;
	padding: 13px 7px;
	text-align: center;
}
.nav-tab-right input {
	width: 320px;
	height: 28px;
	margin-left: 27px;
	margin-right: 31px;
}

.block-top {
	border: #a5d5fb solid 1px;
}